* {
  margin: 0%;
  padding: 0%; }

header nav {
  list-style: none;
  background-color: black;
  height: 110px; }
  header nav h1 {
    color: white;
    text-align: center;
    font-size: 50px; }
  header nav .navegador {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    flex-wrap: wrap; }
    header nav .navegador li a {
      display: inline-block;
      color: white;
      font-size: 30px;
      text-decoration: none; }
    header nav .navegador li a:active {
      background-color: rgba(220, 20, 60, 0.425);
      transition: 1/2s; }

main {
  background-color: azure;
  /*SERVICIOS Y CONSTRUCTORA*/ }
  main .proyects {
    background-color: aliceblue; }
  main div .d-block {
    height: 800px; }
  main .titulo-main {
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; }
  main .tarjetas-serv {
    display: flex; }
    main .tarjetas-serv .serv-proyectos {
      border: 5px black solid;
      height: 600px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 5px; }
      main .tarjetas-serv .serv-proyectos h3 {
        font-size: 30px;
        border: 3px black solid;
        border-radius: 5px;
        margin: 5px;
        text-align: center; }
      main .tarjetas-serv .serv-proyectos img {
        width: 100%;
        height: 200px;
        margin: 15px; }
      main .tarjetas-serv .serv-proyectos p {
        font-size: 20px;
        margin: 5px; }
    main .tarjetas-serv .serv-direccion {
      border: 5px black solid;
      height: 600px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 5px; }
      main .tarjetas-serv .serv-direccion h3 {
        font-size: 30px;
        border: 3px black solid;
        border-radius: 5px;
        margin: 5px;
        text-align: center; }
      main .tarjetas-serv .serv-direccion img {
        width: 100%;
        height: 200px;
        margin: 15px; }
      main .tarjetas-serv .serv-direccion p {
        font-size: 20px;
        margin: 5px; }
    main .tarjetas-serv .serv-factibilidades {
      border: 5px black solid;
      height: 600px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 5px; }
      main .tarjetas-serv .serv-factibilidades h3 {
        font-size: 30px;
        border: 3px black solid;
        border-radius: 5px;
        margin: 5px;
        text-align: center; }
      main .tarjetas-serv .serv-factibilidades img {
        width: 100%;
        height: 200px;
        margin: 15px; }
      main .tarjetas-serv .serv-factibilidades p {
        font-size: 20px;
        margin: 5px; }
    main .tarjetas-serv .serv-calc-estruc {
      border: 5px black solid;
      height: 600px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 5px; }
      main .tarjetas-serv .serv-calc-estruc h3 {
        font-size: 30px;
        border: 3px black solid;
        border-radius: 5px;
        margin: 5px; }
      main .tarjetas-serv .serv-calc-estruc img {
        width: 100%;
        height: 200px;
        margin: 15px; }
      main .tarjetas-serv .serv-calc-estruc p {
        font-size: 20px;
        margin: 5px; }
  main .boton-servicios {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 10px; }
    main .boton-servicios a {
      list-style: none;
      font-style: normal;
      text-decoration: none;
      font-weight: 300;
      font-size: 40px;
      margin: 5px;
      color: black;
      border: 5px solid black;
      border-radius: 2px; }
  main .boton-servicios a:hover {
    background-color: rgba(220, 20, 60, 0.425);
    font-size: 50px;
    margin: 10px;
    transition: 2s; }
  main .titulo-quienes-somos {
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 5px; }
  main .quienes-somos {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    main .quienes-somos .card {
      width: 30%; }
  main .lineas-form {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    main .lineas-form .comentarios {
      margin: 0px; }
  main .card-title {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: goldenrod;
    /*ANIMACION*/
    animation-name: slidein;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: initial;
    animation-delay: 1s;
    animation-iteration-count: initial; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0;
    width: 100%; } }

footer nav .titulo-footer {
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 0%;
  text-align: center;
  font-size: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-size: 50px;
  color: white;
  background-color: black;
  text-align: center; }

footer nav .footer {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  color: white;
  background-color: black;
  padding: 5px; }
  footer nav .footer .fb h3 {
    font-size: 20px; }
  footer nav .footer .fb img {
    width: 80px;
    height: 80px; }
  footer nav .footer .ig h3 {
    font-size: 20px; }
  footer nav .footer .ig img {
    width: 80px;
    height: 80px; }
  footer nav .footer .wapp h3 {
    font-size: 20px; }
  footer nav .footer .wapp img {
    width: 80px;
    height: 80px; }

@media screen and (max-width: 950px) {
  main .tarjetas-serv {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 700px 700px; }
    main .tarjetas-serv .serv-proyectos {
      width: 100%;
      height: 700px; }
    main .tarjetas-serv .serv-direccion {
      width: 100%;
      height: 700px; }
    main .tarjetas-serv .serv-factibilidades {
      width: 100%;
      height: 700px; }
    main .tarjetas-serv .serv-calc-estruc {
      width: 100%;
      height: 700px; } }

@media screen and (max-width: 810px) {
  header nav h1 {
    font-size: 40px; }
  main .tarjetas-serv h3 {
    font-size: 28px; }
  .mb-3 {
    margin: 5px; }
  footer nav h2 {
    font-size: 30px; }
  footer nav div ul h3 {
    font-size: 15px; } }

@media screen and (max-width: 650px) {
  header nav {
    display: flex;
    flex-direction: column;
    height: 10%; }
    header nav .title {
      font-size: 25px;
      margin: 0px;
      padding: 0%; }
    header nav .navegador li a {
      font-size: 15px;
      margin-top: 0px;
      margin-bottom: 0px; }
  main .tarjetas-serv {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 700px  700px 700px 700px; }
  main .boton-servicios a {
    font-size: 30px; }
  main .quienes-somos {
    display: flex;
    align-items: center;
    flex-direction: column; }
    main .quienes-somos .card {
      width: 100%; }
  footer nav .titulo-footer {
    font-size: 30px; }
  footer nav div .footer .fb h3 {
    font-size: 15px; }
  footer nav div .footer .ig h3 {
    font-size: 15px; }
  footer nav div .footer .wapp h3 {
    font-size: 15px; } }
