main{
    background-color:azure;
    .proyects{
        background-color: aliceblue;
    }
    div{
        .d-block{
            height: 800px;
        }
    }
    .titulo-main{
        font-size: 50px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .tarjetas-serv{
        display: flex;
        .serv-proyectos{
            border: 5px black solid;
            height: 600px;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 5px;
            h3{
                font-size: 30px;
                border: 3px black solid;
                border-radius: 5px;
                margin: 5px;
                text-align: center;
            }
            img{
                width: 100%;
                height: 200px;
                margin: 15px;
            }
            p{
                font-size: 20px;
                margin: 5px;
            }
        }
        .serv-direccion{
            border: 5px black solid;
            height: 600px;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 5px;
            h3{
                font-size: 30px;
                border: 3px black solid;
                border-radius: 5px;    
                margin: 5px;
                text-align: center;
            }
            img{
                width: 100%;
                height: 200px;
                margin: 15px;
            }
            p{
                font-size: 20px;
                margin: 5px;
            }
        }
        .serv-factibilidades{
            border: 5px black solid;
            height: 600px;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 5px;
            h3{
                font-size: 30px;
                border: 3px black solid;
                border-radius: 5px;
                margin: 5px;
                text-align: center;
            }
            img{
                width: 100%;
                height: 200px;
                margin: 15px;
            }
            p{
                font-size: 20px;
                margin: 5px;
            }
        }
        .serv-calc-estruc{
            border: 5px black solid;
            height: 600px;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 5px;
            h3{
                font-size: 30px;
                border: 3px black solid;
                border-radius: 5px;
                margin: 5px;
            }
            img{
                width: 100%;
                height: 200px;
                margin: 15px;
            }
            p{
                font-size: 20px;
                margin: 5px;
            }
        }
    }
    .boton-servicios{
            a{
                list-style: none;
                font-style: normal;
                text-decoration: none;
                font-weight: 300;
                font-size: 40px;
                margin: 5px;
                color: black;
                border: 5px solid black;
                border-radius: 2px;
            }
        display: block;
        width: 100%;
        height: 40px;
        text-align: center;
        margin: 10px
    }

    .boton-servicios a:hover{
        background-color: rgba(220, 20, 60, 0.425);
        font-size: 50px;
        margin: 10px;
        transition: 2s;
    }

    .titulo-quienes-somos{

        font-size: 50px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 10px;
        padding: 5px
        }   
    .quienes-somos{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .card{
            width: 30%;

        }
    }
    .lineas-form{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .comentarios{
            margin: 0px;
        }
    }

    /*SERVICIOS Y CONSTRUCTORA*/
    .card-title{
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: goldenrod;
        /*ANIMACION*/
        animation-name: slidein;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-direction: initial;
        animation-delay: 1s;
        animation-iteration-count:initial;
    }

    /*GALERIA*/
    .galeria{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 800px 500px 800px 500px 500px 800px 500px 500px ;
        gap: 15px;
                        .photo{
                    border: 5px solid black;
                    border-radius: 5px;
                    margin: 10 px;
                    width: 100%;
                    height: 100%;
                }
                .doble{
                    grid-column: span 2;
                }
        }
   
        }

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0;
        width: 100%;
    }
}






